.ctooltip {
  position: relative;
  display: inline-block;
}

.ctooltip .ctooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.ctooltip .ctooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.ctooltip:hover .ctooltiptext {
  visibility: visible;
  opacity: 1;
}

.copy-button {
  background-color: white;
  border: 10px;
  border-radius: 10px;
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  font-family: Poppins-Regular;
  font-size: 14px;
}

.footer {
  text-align: center;
  padding-bottom: 0px;
  margin-bottom: 0px;
  font-family: Poppins-Regular;
  font-size: 14px;
}